{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                    <i class="material-icons js-close-toast">close</i>
                </div>
            {% endfor %}
        {% endfor %}
        <form action="{{ path('jdm_index') }}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <label for="search">Entrez le mot à rechercher</label>
                    <input class="autocomplete" type="text" name="search" id="autocomplete-input"/>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <input type="submit" class="waves-effect waves-light btn" value="Rechercher"/>
                    <input type="reset" class="waves-effect waves-light btn" value="Reinitialiser"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/index.js') }}"></script>
{% endblock %}