<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Recherche
    </title>
    <style>
        body{
            margin:50px 50px;
        }
        form{
            display:flex;
            justify-content: center;
        }
        form input[type="text"]{
            width: 1000px;
            height: 27px;
            margin-right: 10px;
        }

        form input[type="submit"]{
            background-color: rgb(100,200,100);
            color:white;
            font-weight: bold;
            border: none;
        }
    </style>
</head>
<body>
<!--action doit etre vide pour refaire appel a la meme page <form action="jdm" method="post">-->

<form action="" method="post">
    <input type="text" name="search" placeholder="Entrez le mot à rechercher" id="search"/>
    <input type="submit" value="Rechercher"/>
</form>





</body>
</html>