{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                    <i class="material-icons js-close-toast">close</i>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row" style="margin-top: 5px">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#test1">Rechercher un mot</a></li>
                    <li class="tab col s3"><a href="#test2">Rechercher mot & type de relation</a></li>
                    <li class="tab col s3"><a href="#test3">recherche existance mot pour type relation</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <form action="{{ path('jdm_index') }}" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="autocomplete" id="multiple">
                                <div class="ac-users"></div>
                                <div class="ac-input">
                                    <input type="text" id="multipleInput" placeholder="Entrez le mot à rechercher" data-activates="multipleDropdown" data-beloworigin="true" autocomplete="off">
                                </div>
                                <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
                                <input type="hidden" name="multipleHidden" />
                            </div>
                        </div>
                        <!--
                        <div class="input-field col s12 chips chips-autocomplete">
                            <label for="search">Entrez le mot à rechercher</label>
                            <input class="autocomplete"  autocomplete="off" type="text" name="search" id="autocomplete-input"/>
                        </div>
                        -->
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <input type="button" class="waves-effect waves-light btn js-submit" value="Rechercher"/>
                            <input type="reset" class="waves-effect waves-light btn js-reset" value="Reinitialiser"/>
                        </div>
                    </div>
                </form>
            </div>
            <div id="test2" class="col s12">Test 2</div>

            <div id="test3" class="col s12">Test 3</div>
        </div>


    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/index.js') }}"></script>
{% endblock %}