{% extends 'GaradPlatformBundle::base.html.twig' %}

{% block title %}Patate{% endblock %}

{% block body %}
    <ul class="side-nav fixed" id="nav-mobile">
        <div class="collection">
            <a href="#" class="collection-item">RelationType</a>
            <a href="#" class="collection-item">RelationType</a>
            <a href="#" class="collection-item">RelationType</a>
            <a href="#" class="collection-item">RelationType</a>
            <a href="#" class="collection-item">RelationType</a>
        </div>
    </ul>
    <div class="container-sidenav">
        <div class="row">
            <div class="col s12">
                <h5 class="wordSearched">Mot recherché : <span class="searched-word">Patate</span></h5>
                <div class="description">
                    <div class="card hoverable">
                        <div class="accordion">
                            <div class="card-title section">
                                <span class="">Description</span>
                                <i class="material-icons">chevron_right</i>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="card-content">
                            <p>
                                1. (Botanique) Patate douce (plante).
                                Les feuilles de la patate douce se consomment comme des épinards, contrairement à celles de la pomme de terre qui sont toxiques.  <br />
                                2. (Par analogie) (Familier) ou (Canada) Pomme de terre.
                                Plus terre à terre que lui, il fallait vraiment être un concombre ou une patate !
                                (Marie Décary, Rendez-vous sur planète Terre, p.46, Éditions La courte échelle, 1998)  <br />
                                Pendant que les Anglais avaient Winston Churchill, pour prendre un exemple au hasard, nous avons eu Friedrich Traugott Wahlen. Un homme dont la vision d'une Suisse dont tous les espaces verts seraient plantés de patates a beaucoup fait pour l'alimentation et le moral des populations entre 1940 et 1945. |1
                                (Le Temps du 4/02/2010)  <br />
                                On va encore manger des patates !  <br />
                                3. (Familier) Coup violent lors d'une bagarre ou d'un combat.<br />
                                La jeune fille hystérique va envoyer un coup de poing dans le nez du mec et ce dernier va répliquer avec une grosse patate en plein visage.  <br />
                                4. (Familier) (Sport) Tir ou lancé puissant.<br />
                                Tirer une patate en pleine lucarne.  <br />
                                5. (Par analogie) Toute autre plante alimentaire farineuse.<br />
                                6. (Par métonymie) Racine comestible de cette plante.<br />
                                À côté de la case s'élevaient les magasins qui renfermaient les provisions du chef, sa récolte de phormium, de patates, de taros, de fougères comestibles.
                                (Jules Verne, Les Enfants du capitaine Grant, 1846)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="relations">
                    <div class="card hoverable">
                        <div class="accordion">
                            <div class="card-title section">
                                <span class="">RelationType</span>
                                <i class="material-icons">chevron_right</i>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="card-content">
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                            <a href="#">mot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}