{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Fin de la page qu'on a créé !</title>
</head>
<body>
<h1>Bye bye {{ nom }}  !</h1>

<p>
    À la prochaine mec !
</p>
</body>
</html>
